/* general style */
*{
    margin : 0px;
    padding : 0px;
}
html {
    height:100%;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif ;
}
/* nav bar style */
.main-content{
    flex: 1;
}
.nav-bar {
    background-color: #F92F55;
    position: fixed;
    width: 100%;
    max-width: 100%;
    font-family: 'Nunito', sans-serif;
    z-index: 10;
}
.nav-bar .nav-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.nav-bar .nav-items .nav-menu{
    display: flex;
    justify-content: space-between;
}
.nav-bar .nav-items .nav-menu li {
    margin: .5rem;
}
.nav-bar .nav-items .nav-menu li div {
    display: none;
}
.nav-bar .nav-items li {
    text-align: center;
    font-size: .8rem;
}
.nav-bar .nav-items li a {
    text-decoration: none;
    color: #ffffff;
}
.nav-bar .nav-items li a:hover{
    color: #8EC1C2 ;
    font-size: 1.2rem;
}
.nav-bar .nav-items li .active {
    color: #8EC1C2 ;
}
.nav-bar .nav-items li a i {
    font-size: 1.5rem;
    margin: .5em;
}

.nav-bar .nav-items .logo li a img {
    width : 6rem
}
/* footer style */
.footer-container{
    background-color: #31302C;
    bottom: 0; 
    left: 0;
    width:100%;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    flex-direction: column;

}
.footer-container .social-icon {
    display: flex;
    font-size: 1.1rem;
}
.footer-container .copyright {
    color: #8EC1C2;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
.footer-container .copyright i {
    font-size: .8rem;
    color: #F92F55;
}
.footer-container li i {
  color: #F92F55 ;
  margin: 1rem;

}
.footer-container li i:hover{
  color:#8EC1C2 ;
  margin: 1rem;

} 
/* main content */
.main-content {
    padding-top:5.5rem;
    display: flex;
    flex-direction: column;
}
.main-content .Page-name-header{
    font-family: 'Londrina Solid', cursive;
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    letter-spacing: .5px;
    color:#F92F55;
    border-bottom: 1px solid #8EC1C2;

}
.main-content .Page-name-header i {
    color: #8EC1C2 ;
}
.main-content h1 {
    font-family:'Nunito', sans-serif ;
    margin: 1rem 2rem;
    font-size: 1.5rem;
    letter-spacing: .5px;
    color:#31302C ;
    
}
.Meal-illustrations img {
    width : 100%
}

.Meal-content{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}
.search-Meal  {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-Meal .find-input{
     width: 70vw;
     border-radius: 30px 0px 0px 30px;
     border: 4px solid #F92F55;
     border-right: none;
     padding: 20px;
}
.search-Meal .find-button{
    height: 4rem;
    width: 3.5rem;
    border-radius:0px 30px 30px 0px ;
    border:  4px solid #F92F55;
    border-left: none;
    color: #F92F55;
    font-size: 1rem;
    background-color: #ffffff;
    padding: 20px;

}

.search-Meal .find-input::placeholder {
    font-size: 1rem;
    color: #F92F55;

  }
.Header-content {
    font-family:'Londrina Solid', cursive;
    font-weight: bold;
    margin: 1rem 2rem;
    font-size: 1.5rem;
    letter-spacing: .5px;
    color:#31302C ;
  }
.Header-discription{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin:  0rem 2rem;
  }

/* meal Results */
.meal-result{
    margin: 2rem;
}
#meal{
    margin: 2.4rem 0;
    display: flex;
    flex-direction: column;
}
.meal-item{
    overflow: hidden;
    background-color: #8EC1C2;
}
.meal-img img{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
}
.meal-name{
    padding: 1.5rem 1rem;
}
.meal-name h3{
    font-size: 1.4rem;
    color: #ffffff;
}


@media screen and (min-width: 800px){
    .nav-bar {
        width: 20vw;
        max-width: 150px;
        height: 100%;
    }
    .nav-bar .nav-items {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .nav-bar .nav-items li {
        font-size: 1rem;
    }
    .nav-bar .nav-items .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        top : 5rem
    }
    .nav-bar .nav-items .nav-menu li {
        margin: .5rem;
    }
    .nav-bar .nav-items .nav-menu li div {
        display: block ;
    }
    .main-content {
        padding-left: 9rem;
        padding-top: 0;
    }
    .main-content .Page-name-header{
        font-size: 2.5rem;
        border-bottom: solid 1px #8EC1C2;
    }
    .Meal-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        margin: 3rem;

    }

    .Meal-content{
        display: flex;
        flex-direction: column;
        margin: 1.5rem;
        width: 40vw;
        align-items: flex-start;
        justify-content: center;

    }
    .Meal-illustrations img {
        width : 40vw
    }
    .search-Meal {
         width: 80%;
         margin-left: auto;
         margin-left: auto;

    }
    .main-content form {
        margin: 1rem 2rem;
        width: 30vw;
    }
	.search-Meal .find-input{
         width: 30vw;
    }

    /* meal Results */
    #meal{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
}