*{
    margin : 0px;
    padding : 0px;
}
html {
    height:100%;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-content{
    flex: 1;
}
.nav-bar {
    background-color: #F92F55;
    position: fixed;
    width: 100%;
    max-width: 100%;
    font-family: 'Nunito', sans-serif;
}
.nav-bar .nav-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.nav-bar .nav-items .nav-menu{
    display: flex;
    justify-content: space-between;
}
.nav-bar .nav-items .nav-menu li {
    margin: .5rem;
}
.nav-bar .nav-items .nav-menu li div {
    display: none;
}
.nav-bar .nav-items li {
    text-align: center;
    font-size: .8rem;
}
.nav-bar .nav-items li a {
    text-decoration: none;
    color: #ffffff;
}
.nav-bar .nav-items li a:hover{
    color: #8EC1C2 ;
    font-size: 1.2rem;
}
.nav-bar .nav-items li .active {
    color: #8EC1C2 ;
}
.nav-bar .nav-items li a i {
    font-size: 1.5rem;
    margin: .5em;
}

.nav-bar .nav-items .logo li a img {
    width : 6rem
}
.footer-container{
    background-color: #31302C;
    bottom: 0; 
    left: 0;
    width:100%;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    flex-direction: column;

}
.footer-container .social-icon {
    display: flex;
    font-size: 1.1rem;
}
.footer-container .copyright {
    color: #8EC1C2;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
.footer-container .copyright i {
    font-size: .8rem;
    color: #F92F55;
}
.footer-container li i {
  color: #F92F55 ;
  margin: 1rem;

}
.footer-container li i:hover{
  color:#8EC1C2 ;
  margin: 1rem;

} 

@media screen and (min-width: 600px){
    .nav-bar {
        width: 20vw;
        max-width: 150px;
        height: 100%;
    }
    .nav-bar .nav-items {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .nav-bar .nav-items li {
        font-size: 1rem;
    }
    .nav-bar .nav-items .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        top : 5rem
    }
    .nav-bar .nav-items .nav-menu li {
        margin: .5rem;
    }
    .nav-bar .nav-items .nav-menu li div {
        display: block ;
    }

}
